<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=">
<title></title>
</head>
<body>
Inserted!
<ul>
{% for product in products %}
  <li> {{ product.name }} </li>
{% endfor %}
</ul>

</body>
</html>
