/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../home/vagrant/.anyenv/envs/rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../home/vagrant/.anyenv/envs/rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../home/vagrant/.anyenv/envs/rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../home/vagrant/.anyenv/envs/rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../home/vagrant/.anyenv/envs/rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../home/vagrant/.anyenv/envs/rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../home/vagrant/.anyenv/envs/rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../home/vagrant/.anyenv/envs/rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../home/vagrant/.anyenv/envs/rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/spa.scss */
body {
  font: 13px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #888;
}

/* line 6, ../sass/spa.scss */
a {
  text-decoration: none;
}
/* line 8, ../sass/spa.scss */
a:link, a:visited {
  color: inherit;
}
/* line 11, ../sass/spa.scss */
a:hover {
  text-decoration: underline;
}

/* line 15, ../sass/spa.scss */
strong {
  font-weight: 800;
  color: #000;
}

/* line 20, ../sass/spa.scss */
#spa {
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  min-height: 500px;
  min-width: 500px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0 8px 0 8px;
}

/* line 34, ../sass/spa.scss */
.spa-x-clearfloat {
  height: 0      !important;
  float: none   !important;
  visibility: hidden !important;
  clear: both   !important;
}

/* line 1, ../sass/spa.shell.scss */
.spa-shell-head, .spa-shell-head-logo, .spa-shell-head-acct,
.spa-shell-head-search, .spa-shell-main, .spa-shell-main-nav,
.spa-shell-main-content, .spa-shell-foot, .spa-shell-chat,
.spa-shell-modal {
  position: absolute;
}

/* line 7, ../sass/spa.shell.scss */
.spa-shell-head {
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

/* line 13, ../sass/spa.shell.scss */
.spa-shell-head-logo {
  top: 4px;
  left: 4px;
  height: 32px;
  width: 128px;
  background: orange;
}

/* line 20, ../sass/spa.shell.scss */
.spa-shell-head-acct {
  top: 4px;
  right: 0;
  width: 64px;
  height: 32px;
  background: green;
}

/* line 27, ../sass/spa.shell.scss */
.spa-shell-head-search {
  top: 4px;
  right: 64px;
  width: 248px;
  height: 32px;
  background: blue;
}

/* line 34, ../sass/spa.shell.scss */
.spa-shell-main {
  top: 40px;
  left: 0;
  bottom: 40px;
  right: 0;
}

/* line 40, ../sass/spa.shell.scss */
.spa-shell-main-content,
.spa-shell-main-nav {
  top: 0;
  bottom: 0;
}

/* line 45, ../sass/spa.shell.scss */
.spa-shell-main-nav {
  width: 250px;
  background: #eee;
}

/* line 49, ../sass/spa.shell.scss */
.spa-x-closed .spa-shell-main-nav {
  width: 0;
}

/* line 52, ../sass/spa.shell.scss */
.spa-shell-main-content {
  left: 250px;
  right: 0;
  background: #ddd;
}

/* line 57, ../sass/spa.shell.scss */
.spa-x-closed .spa-shell-main-content {
  left: 0;
}

/* line 60, ../sass/spa.shell.scss */
.spa-shell-foot {
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

/* line 66, ../sass/spa.shell.scss */
.spa-shell-chat {
  bottom: 0;
  right: 0;
  width: 300px;
  height: 15px;
  cursor: pointer;
  background: red;
  border-radius: 5px 0 0 0;
  z-index: 1;
}
/* line 76, ../sass/spa.shell.scss */
.spa-shell-chat:hover {
  background: #a00;
}

/* line 80, ../sass/spa.shell.scss */
.spa-shell-modal {
  margin-top: -200px;
  margin-left: -200px;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 3px;
  z-index: 2;
}
